@charset "utf-8";

*{
	padding:0;
	margin: 0;
	text-decoration: none;
	box-sizing:border-box;
	list-style:none;
}

html{
	width: 100%;
	height: 100%;
	font-size: 100%;
}

body{
	width:100%;
	height:100%;
	font-size:16px;
}

@font-face{
	font-family:"raphaelicons";
	src:url(fonts/raphaelicons-webfont.eot);
	src:url(fonts/raphaelicons-webfont.ttf) format("truetype"),
		url(fonts/raphaelicons-webfont.svg) format("svg"),
		url(fonts/raphaelicons-webfont.woff) format("woff");
}

.contain,.xucontain{
	width:100%;
	height:100%;
	overflow: hidden;
	display:-webkit-flex;
	-webkit-flex-direction:column;
}

/*.................头部..................*/
	.header{
		width:100%;
		position:fixed;
		z-index: 55;
		height:0.4rem;
		/* background:#33cc98; */
		h1{
			width:100%;
			height:100%;
			background:#33cc98;
			opacity:0;
			position:absolute;
		}
		a{
			position:absolute;
			top:50%;
			margin-top:-8px;
			&:nth-of-type(1){
				left:10px;
				color:#fff;
				font-size:14px;
			}
			&:nth-of-type(2){
				right:10px;
				color:#fff;
			}

		}
		p{
			width:70%;
			margin:0 18%;
			position:relative;
			background:rgba(0,0,0,0.1);
			height:0.25rem;
			border-radius: 15px;
			margin-top:0.1rem;
			z-index:2;
			span{
				position:absolute;
				left:0.1rem;
				color:#fff;
				top:50%;
				margin-top:-10px;
			}
			input::-webkit-input-placeholder{
					    color: #fff;
					}
			input{
				margin-left:0.3rem;
				border:none;
				outline: none;
				color:#fff;
				line-height:0.25rem;
				background:none;
				z-index:55;

			}
		}
	}	
	.xuheader{
		width:100%;
		height:0.4rem;
		position:relative;
		a{
			position:absolute;
			top:50%;
			margin-top:-0.1rem;
			left:10px;
			color:#008857;
			font:{
				weight:600;
				size:18px;
			};
		}
		h3{
			text-align:center;
			line-height:0.4rem;
			font-size:16px;
			color:#008857;
		}
	}


/*.................主体..................*/

	.xumain{
		width:100%;
		height:100%;
		-webkit-flex-grow:1;
		overflow-y:scroll;
		margin-top:0.5px;
		position:relative;

	/*......图片轮播.......*/	

		.title{
			width:100%;
			height:1.6rem;
			position:relative;
			overflow:hidden;
			.pics{
				width:100%;
				height:1.6rem;
				display:-webkit-box;
				li{
					width:100%;
					height:100%;
					img{
						width:100%;
						height:auto;
					}
				}
			}
			ul{
					position:absolute;
					right:2%;
					bottom:9%;
					li{
						float:left;
						width:8px; 
						height:8px;
						border-radius:50%;
						background:#fff; 
						margin-left:7px;
					}
					.on{
							background:#ed5858;
						}
				}
		}

	/*......出境.......*/	

		.info{
			width:100%;
			height:1rem;
			dl{
				width:25%;
				height:100%;
				
				float:left;
				dt{
					width:0.5rem;
					height:0.5rem;
					margin:0.1rem auto;
					img{
						width:100%;
						height:100%;
					}
				}
				dd{
					text-align:center;
					font-size:14px;
				}
			}
		}

	/*......周边.......*/	

		.manu{
			width:100%;
			height:0.4rem;
			ul{
				width:100%;
				height:100%;
				border-top: 1px solid #b0b0b0;
				border-bottom: 1px solid #b0b0b0;
				li{
					width:33.3%;
					height:100%;
					float:left;
					border-right: 1px solid #b0b0b0;
					text-align:center;
					line-height: 0.4rem;
					position:relative;
					span{
						width:0.4rem;
						height:0.19rem;
						position:absolute;
						left:5px;
						top:50%;
						margin-top:-0.15rem;
						margin-left:5%;
						img{
							width:0.2rem;
							height:0.19rem;
							margin:0 auto;
						}
					}
					&:last-child{
						border:none;
					}
					#small{
							width:0.01rem;
						}
				}
			}
		}
		p{
			width:100%;
			height:0.17rem;
			background:#ededed;
		}

	/*......限时抢购.......*/
		.side{
			width:100%;
			height:1.5rem;
			border-bottom: 1px solid #b0b0b0;
			display:-webkit-flex;
			.left{
				width:50%;
				height:100%;
				border-right:1px solid #ccc;
				h3{
					width:90%;
					height:0.4rem;
					line-height:0.4rem;
					text-align:center;
					margin:0 5%;
					span{
						font-size:14px;
						color:#fc0a25;
						width:40%;
						display:inline-block;
						float:left;
					}

					time{
						width:0.22rem;
						height:0.18rem;
						display:inline-block;
						float:left;
						margin:8px 2px;
						img{
							height:0.18rem;
							width:0.18rem;
							float:left;
							margin:3px 2px;
						}
					}
					small{
						float:left;
						color:#fc0a25;
						width:40%;
						display:inline-block;
						a{
							background:#eed0c8;
							padding:4px 2px;
							border-radius:5px;
							text-align: center;
							color:#fc0a25;
							font-size:12px;
						}
						
					}
				}

				dl{
					width:90%;
					height:1.1rem;
					margin:0 5%;
					dt{
							width:1.5rem;
							height:0.665rem;
							margin:0 auto;
						img{
							width:1.5rem;
							height:0.665rem;
						}
					}
					dd{
						font-size:12px;
						line-height:0.2rem;
						text-align:center;
					}
				}
			}

			.right{
				width:50%;
				height:100%;
				background:pink;
				dl{
					width:100%;
					height:50%;
					background:#fff;
					border-bottom:1px solid #ccc;
					position:relative;
					dt{
						width:1.025rem;
						height:0.465rem;
						position:absolute;
						right:0.1rem;
						bottom:0;
						img{
							width:1.025rem;
							height:0.465rem;
						}
					}
					dd{
						font-size:14px;
						text-indent:10px;
						line-height:0.4rem;
						color:#3c97d2;
						font-weight: 600;
					}
					&:last-child{
						dd{
							color:#94b23c;
						}
					}
				}
			}
		}

	/*......春小秋.......*/
		
		.chun{
			width:100%;
			height:0.4rem;
			border-bottom:1px solid #ccc;
			ul{
				width:100%;
				height:0.3rem;
				margin:0.1rem 0;
				display:-webkit-flex;
				li{
					position:relative;
					&:nth-of-type(1){
						width:40%;
						border-right:1px solid #ccc;
						img{
							width:0.27rem;
							height:auto;
							margin-left:0.1rem;
						}
						i{
							position:absolute;
							top:50%;
							margin-top:-10px;
							span{
								color:#1cbc67;
								font-size:16px;
								font-weight:800;
							}
							b{
								background:#ff7e00;
								font-size:16px;
								color:#fff;
								padding:2px;
								margin-left:-3px;
							}
						}
					}
					&:nth-of-type(2){
						-webkit-flex-grow:1;
						margin-left:5px;
						line-height:0.3rem;
						img{
							width:0.2rem;
							height:auto;
						}
						b{
							font-size:14px;
							margin-left:5px;
							top:50%;
							margin-top:-0.182rem;
							position:absolute;
						}
					}
				}
			}
		}

	/*......迪士尼童话城堡.......*/

			.img{
				width:100%;
				height:1.9rem;
				background:#f7eef3;
				ul{
					width:98%;
					margin:1% 0;
					li{
						width:24%;
						margin-left:1%;
						float:left;
						img{
							width:0.885rem;
							height:0.885rem;
							margin-bottom: 1%;
							margin:0 auto;
						}
					}
				}
			}

	/*......导航定位.......*/
		.content{
			width:100%;
			background:#eaeef1;
			position:absolute;
		
		#pp{
			width:100%;
			height:100%;
			display:-webkit-flex;
			-webkit-flex-direction:column;
		}
			

			/*......导航.......*/

				nav{
					width:100%;
					height:0.425rem;
					background:#fff;
					line-height:0.425rem;
					li{
						width:50%;
						float:left;
						text-align:center;
						&.on{
							color:#35a668;
							border-bottom:2px solid #35a668;
						}
					}
				}

			/*......图片.......*/
		
				.pos{
					//overflow-y:scroll;
					.picture{
						width:96%;
						height:2.5rem;
						background:#fff;
						margin:2%;
						dl{
							width:100%;
							dt{
								width:3.62rem;
								height:2rem;

								img{
									width:3.62rem;
									height:2rem;
								}
							}
							dd{
								width:100%;
								line-height:0.22rem;
								margin-top:0.05rem;
								small{
									width:76%;
									float:left;
									padding-left: 3%;
								}
								span{
										float:right;
										padding-right: 0.05rem;
									b{
										color:#ff3553;
										display:block;
										font-size:16px;
									}
									time{
										font-size:12px;
										text-decoration:line-through;
										color:#ccc;
									}
								}
							}
						}
					}

				}

		}

	}
	.xmain{
		width:100%;
		height:100%;
		-webkit-flex-grow:1;
		overflow-y:scroll;
		h4{
			width:100%;
			height:0.35rem;
			background:#e9e9e9;
			line-height:0.35rem;
			padding-left:0.15rem;
			font-size:16px;
			border-top:1px solid #ccc;
		}
		p{
			width:100%;
			height:0.45rem;
			line-height:0.45rem;
			font-size:14px;
			padding-left:0.15rem;
		}
		ul{
			width:100%;
			li{
				width:100%;
				padding-left:0.15rem;
				line-height:0.5rem;
				border-bottom:1px solid #ccc;
			}
		}
	}




/*.................页脚..................*/

	.footer{
		width:100%;
		height:0.5rem;
		background:#f7f7f7;
		a{
			width:25%;
			height:0.5rem;
			display:block;
			float:left;
			text-align:center;
			padding-top:0.08rem;
			color:#9b9b9b;
			span{
				display:block;
				margin:0 auto;
				width:20px;
				height:0.2rem;
			}
			&.on{
				border-top:1px solid #ed5858;
				small{
					color:#50cb8a;
				}
			}
			&:nth-of-type(1){
				span{
					background:url(../images/xufoot1.png) no-repeat;
					background-size:20px 40px;
				}
			}
			&:nth-of-type(2){
				span{
					background:url(../images/xufoot2.png) no-repeat;
					background-size:20px 40px;
				}
			}
			&:nth-of-type(3){
				span{
					background:url(../images/xufoot3.png) no-repeat;
					background-size:20px 40px;
				}
			}
			&:nth-of-type(4){
				span{
					background:url(../images/xufoot4.png) no-repeat;
					background-size:20px 40px;
				}
			}
		}
	}


/*.................门票头部..................*/
	.menheader{
		width:100%;
		height:0.4rem;
		line-height:0.4rem;
		position:relative;
		a{
			position:absolute;
			top:50%;
			color:#3c8c6e;
			
			&:nth-of-type(1){
				left:0.1rem;
				margin-top:-18px;
				font:{
					weight:600;
					size:22px;
				}
			}
			&:nth-of-type(2){
				right:0.1rem;
				margin-top:-10px;
				font:{
					weight:100;
					size:20px;
				}
			}
		}
		h3{
			color:#3c8c6e;
			text-align:center;
			padding:0 30px;
		}
	}


/*.................门票主体..................*/
	.men_main{
		width:100%;
		height:100%;
		-webkit-flex-grow:1;
		overflow-y:scroll;
		margin-top:0.5px;
		position:relative;

		/*......图片轮播.......*/	

			.title{
				width:100%;
				height:1.6rem;
				position:relative;
				overflow:hidden;
				.pics{
					width:100%;
					height:1.6rem;
					display:-webkit-box;
					li{
						width:100%;
						height:100%;
						img{
							width:100%;
							height:auto;
						}
					}
				}
				ul{
						position:absolute;
						right:3%;
						bottom:9%;
						li{
							float:left;
							width:15px; 
							height:5px;
							border-radius:35%;
							background:#fff; 
							margin-left:7px;
						}
						.on{
								background:green;
							}
					}
			}
	
		/*......出境.......*/	

			.info{
				width:100%;
				height:1rem;
				dl{
					width:25%;
					height:100%;
					
					float:left;
					dt{
						width:0.5rem;
						height:0.5rem;
						margin:0.1rem auto;
						img{
							width:100%;
							height:100%;
						}
					}
					dd{
						text-align:center;
						font-size:14px;
					}
				}
			}
	
		/*......出境.......*/
			.shanghai{
				width:100%;
				height:1.45rem;
				border-top:0.1rem solid #f2f2f2;
				border-bottom:0.1rem solid #f2f2f2;
				dl{
					width:100%;
					height:0.7rem;
					padding-left:15px;
					border-bottom:1px solid #f2f2f2;
					display:-webkit-flex;
					dt{
						width:0.94rem;
						height:0.63rem;
						margin: 0.05rem;
						img{
							width:100%;
							height:100%;
						}
					}
					dd{
						-webkit-flex-grow:1;
						padding-left:0.2rem;
						line-height:22px;
						span{
							display:block;
							margin-top:0.1rem;
							font-size:14px;
						}
					}
				}
				ul{
					width:100%;display:-webkit-flex;
					height:0.6rem;
					li{
						width:50%;
						float:left;
						border-right:1px solid #ccc;
						margin:0.1rem 0;
						margin-left:0.2rem;
						text-indent:0.5rem;
						&:nth-of-type(1){
							background:url(../images/3img6.png) no-repeat left center;
							background-size:0.4rem 0.4rem; 
						}
						&:nth-of-type(2){
							background:url(../images/3img7.png) no-repeat left center;
							background-size:0.4rem 0.4rem; 
						}
						span{
							display:block;
							font-size:14px;
							line-height:0.2rem;
						}
						small{
							display:block;
						}
					}
				}
			}
	
		/*......导航.......*/

				nav{
					width:100%;
					height:0.425rem;
					background:#fff;
					line-height:0.425rem;
					li{
						width:50%;
						float:left;
						text-align:center;
						&.on{
							color:#35a668;
							border-bottom:2px solid #35a668;
						}





					}
				}

		/*......迪士尼童话城堡.......*/

			.img{
				width:100%;
				height:1.6rem;
				background:#f7eef3;
				ul{
					width:98%;
					margin:2% 1%;
					li{
						width:32%;
						margin-left:1.2%;
						float:left;
						img{
							width:1.125rem;
							height:0.765rem;
							margin-bottom: 1%;
							margin:0 auto;
						}
					}
				}
			}
		
		/*............图片............*/
			.pict{
				width:100%;
				height:1.1rem;
				border-bottom:1px solid #ccc;
				dl{
					width:100%;
					height:1.1rem;
					margin:0.1rem;
					display:-webkit-flex;
					dt{
						width: 35%;
						height:100%;
						img{
							width:1.2rem;
							height:0.84rem;
							
						}
					}
					dd{
						-webkit-flex-grow:1;
						margin-top:10px;
						span{
							background:#ff9c10;
							color:#fff;
							padding:2px 5px;
							font-size:14px;
						}
						b{
							font-weight:100;
							font-size:14px;
						}
						small{
							margin-top:0.3rem;
							display:block;
						}
					}
				}
				
			}
	}	


/*.................出境游网页..................*/
.xumain4{
	width:100%;
	height:100%;
	overflow-y:scroll;
	-webkit-flex-grow:1;

	.info{
		width:100%;
		height:0.45rem;
		line-height:0.35rem;
		text-indent:0.2rem;
		border-top:0.05rem solid #f2f2f2;
		border-bottom:0.05rem solid #f2f2f2;
		b{
			font-size:16px;
			padding-right: 15px;
		}
		span{
			font-size:14px;
		}
	}

	.love{
		width:100%;
		height:1.3rem;
	}

}